@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


html {
  scrollbar-color: rgba(8, 8, 8, 0.448) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.poppins {
  font-family: 'Poppins', sans-serif;
}
 .screen {
  position: relative;
  z-index: 1;
}