@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: clash;
  src: url("Assets/fonts/ClashDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: clashBold;
  src: url("/Assets/fonts/ClashDisplay-Semibold.otf") format("opentype");
}

html {
  scrollbar-color: rgba(8, 8, 8, 0.448) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.poppins {
  font-family: 'Poppins', sans-serif;
}
 .screen {
  position: relative;
  z-index: 1;
}